# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# build output
dist/
build/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# testing
coverage/

# misc
.DS_Store
*.pem

# ide
.vscode/*
!.vscode/extensions.json

# prisma
packages/db/generated/

.vercel
.env*
